In [3]:
import pandas as pd

df = pd.read_csv("Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv")

# Calcular Nota Final (promedio de los 3 puntos)
df["Calificacion Final"] = ((df["Calificacion 1"] + df["Calificacion 2"] + df["Calificacion 3"]) / 3).round(2)

# Guardar
df.to_csv("Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv", index=False)


print(df[["Número de documento", "Calificacion 1", "Calificacion 2", "Calificacion 3", "Calificacion Final"]].head())

   Número de documento  Calificacion 1  Calificacion 2  Calificacion 3  \
0           1021674384               1               1               5
1           1028481694               1               1               5
2           1012976628               1               1               5
3           1103500518               1               1               5
4           1141316451               1               1               5

   Calificacion Final
0                2.33
1                2.33
2                2.33
3                2.33
4                2.33

In [2]:
df

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),Punto 1,CP1,Punto 2,CP2,Punto 3,CP3,n,Punto 3 Correcto,Punto 3 Limpio,NF,Punto 3 Estudiante,Calificacion 1,Calificacion 2,Calificacion 3,Calificacion Final
0,1021674384,7382.000,7238.000,7202.00,7238.0,5,7238.0,5,7202,5,36,7202,7202.000,5.00,7202.000,1,1,5,2.33
1,1028481694,8817.000,8645.000,8602,8645.0,5,8645.0,5,8602,5,43,8602,8602.000,5.00,8602.000,1,1,5,2.33
2,1012976628,8612.000,8444.000,8402,8444.0,5,8444.0,5,8402,5,42,8402,8402.000,5.00,8402.000,1,1,5,2.33
3,1103500518,4922.000,4826.000,4802.00,4826.0,5,4826.0,5,4802,5,24,4802,4802.000,5.00,4802.000,1,1,5,2.33
4,1141316451,5537.000,5429.000,5402,5429.0,5,5429.0,5,5402,5,27,5402,5402.000,5.00,5402.000,1,1,5,2.33
5,1127228530,6357.000,6233.000,6202,6233.0,5,6233.0,5,6202,5,31,6202,6202.000,5.00,6202.000,1,1,5,2.33
6,1000794960,7382.000,7238.000,2.00,7238.0,5,7238.0,5,7202,1,36,7202,2.000,3.67,2.000,1,1,1,1.00
7,1019606644,389866.330,3739.230,7402.00,7439.0,1,7439.0,1,7402,5,37,7402,7402.000,2.33,7402.000,1,1,5,2.33
8,1104224296,6356.600,6233.000,62,6233.0,5,6233.0,5,6202,1,31,6202,62.000,3.67,62.000,1,1,1,1.00
9,1094049572,8407.000,8243.000,8202,8243.0,5,8243.0,5,8202,5,41,8202,8202.000,5.00,8202.000,1,1,5,2.33
10,1025062924,6.357,6.233,6.202,6233.0,1,6233.0,1,6202,1,31,6202,6.202,1.00,6.202,1,1,1,1.00
11,1028485597,10047.000,9851.000,2,9851.0,5,9851.0,5,9802,1,49,9802,2.000,3.67,2.000,1,1,1,1.00
12,1013037578,7177.000,7037.000,7002,7037.0,5,7037.0,5,7002,5,35,7002,7002.000,5.00,7002.000,1,1,5,2.33
13,1113364165,6357.000,6233.000,6202.00,6233.0,5,6233.0,5,6202,5,31,6202,6202.000,5.00,6202.000,1,1,5,2.33
14,1140914656,7587.000,7439.000,76,7439.0,5,7439.0,5,7402,1,37,7402,76.000,3.67,76.000,1,1,1,1.00
15,1011095164,5740.000,5620.000,5600,5630.0,1,5630.0,1,5602,1,28,5602,5600.000,1.00,5600.000,1,1,1,1.00
16,1193231792,175.000,152.000,1,7640.0,1,7640.0,1,7602,1,38,7602,1.000,1.00,1.000,1,1,1,1.00
17,1077228324,7382.000,7238.000,"366,82",7238.0,5,7238.0,5,7202,1,36,7202,366.820,3.67,366.820,1,1,1,1.00