In [18]:
import pandas as pd

In [19]:
df = pd.read_csv("Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv")
df.head()

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),Punto 1,Calificacion 1,Punto 2,Calificacion 2
0,1021674384,7382.0,7238.0,7202.00,7238.0,5,7238.0,5
1,1028481694,8817.0,8645.0,8602,8645.0,5,8645.0,5
2,1012976628,8612.0,8444.0,8402,8444.0,5,8444.0,5
3,1103500518,4922.0,4826.0,4802.00,4826.0,5,4826.0,5
4,1141316451,5537.0,5429.0,5402,5429.0,5,5429.0,5

In [20]:
def sumar_digitos(x):
    suma = 0
    for c in str(x):
        suma += int(c)
    return suma
def funcion(n):
    def f(x):
        return n*(x**2) + 2*x + 23
    return f

def evaluar_punto2(n):
    f = funcion(n)
    return round((f(101) - f(100)) / 1, 2)

df["n"] = df["Número de documento"].apply(sumar_digitos)
df["Punto 2"] = df["n"].apply(evaluar_punto2)


p2 = df.columns[2]

def calificar2(x):
    return 5 if x[p2] == x["Punto 2"] else 1

df["Calificacion 2"] = df.apply(calificar2, axis=1)

In [21]:
df.head(19)

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),Punto 1,Calificacion 1,Punto 2,Calificacion 2,n
0,1021674384,7382.000,7238.000,7202.00,7238.0,5,7238.0,5,36
1,1028481694,8817.000,8645.000,8602,8645.0,5,8645.0,5,43
2,1012976628,8612.000,8444.000,8402,8444.0,5,8444.0,5,42
3,1103500518,4922.000,4826.000,4802.00,4826.0,5,4826.0,5,24
4,1141316451,5537.000,5429.000,5402,5429.0,5,5429.0,5,27
5,1127228530,6357.000,6233.000,6202,6233.0,5,6233.0,5,31
6,1000794960,7382.000,7238.000,2.00,7238.0,5,7238.0,5,36
7,1019606644,389866.330,3739.230,7402.00,7439.0,1,7439.0,1,37
8,1104224296,6356.600,6233.000,62,6233.0,5,6233.0,5,31
9,1094049572,8407.000,8243.000,8202,8243.0,5,8243.0,5,41
10,1025062924,6.357,6.233,6.202,6233.0,1,6233.0,1,31
11,1028485597,10047.000,9851.000,2,9851.0,5,9851.0,5,49
12,1013037578,7177.000,7037.000,7002,7037.0,5,7037.0,5,35
13,1113364165,6357.000,6233.000,6202.00,6233.0,5,6233.0,5,31
14,1140914656,7587.000,7439.000,76,7439.0,5,7439.0,5,37
15,1011095164,5740.000,5620.000,5600,5630.0,1,5630.0,1,28
16,1193231792,175.000,152.000,1,7640.0,1,7640.0,1,38
17,1077228324,7382.000,7238.000,"366,82",7238.0,5,7238.0,5,36

In [22]:
df_original = pd.read_csv("Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv")

In [23]:
df_original["Punto 2"] = df["Punto 2"]
df_original["Calificacion 2"] = df["Calificacion 2"]

In [24]:
def cam(x):
  p=str(x)
  p=p.replace(",",".")
  return float(p)

def sumar_digitos(x):
    x_str = str(x)
    sum=0
    for i in x_str:
      sum+= int(i)
    return sum

def crear_funcion1(n):
    def f(x):
        return n * (2*x) + 2
    return f

def evaluar_funcion3(n):
  f=crear_funcion1(n)
  return f(100)


df["n"]= df["Número de documento"].apply(sumar_digitos)
df["Punto 3"] = df["n"].apply(evaluar_funcion3).round(2)
columna_estudiante = df.columns[3]
df["Punto 3 Limpio"] = df[columna_estudiante].apply(cam)



def calificar3(x):
  return 5 if x["Punto 3"] == x["Punto 3 Limpio"] else 1

df["Calificacion 3"] = df.apply(calificar3 , axis=1)

In [25]:
df.head(10)

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),Punto 1,Calificacion 1,Punto 2,Calificacion 2,n,Punto 3,Punto 3 Limpio,Calificacion 3
0,1021674384,7382.00,7238.00,7202.00,7238.0,5,7238.0,5,36,7202,7202.0,5
1,1028481694,8817.00,8645.00,8602,8645.0,5,8645.0,5,43,8602,8602.0,5
2,1012976628,8612.00,8444.00,8402,8444.0,5,8444.0,5,42,8402,8402.0,5
3,1103500518,4922.00,4826.00,4802.00,4826.0,5,4826.0,5,24,4802,4802.0,5
4,1141316451,5537.00,5429.00,5402,5429.0,5,5429.0,5,27,5402,5402.0,5
5,1127228530,6357.00,6233.00,6202,6233.0,5,6233.0,5,31,6202,6202.0,5
6,1000794960,7382.00,7238.00,2.00,7238.0,5,7238.0,5,36,7202,2.0,1
7,1019606644,389866.33,3739.23,7402.00,7439.0,1,7439.0,1,37,7402,7402.0,5
8,1104224296,6356.60,6233.00,62,6233.0,5,6233.0,5,31,6202,62.0,1
9,1094049572,8407.00,8243.00,8202,8243.0,5,8243.0,5,41,8202,8202.0,5

In [26]:
df

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),Punto 1,Calificacion 1,Punto 2,Calificacion 2,n,Punto 3,Punto 3 Limpio,Calificacion 3
0,1021674384,7382.000,7238.000,7202.00,7238.0,5,7238.0,5,36,7202,7202.000,5
1,1028481694,8817.000,8645.000,8602,8645.0,5,8645.0,5,43,8602,8602.000,5
2,1012976628,8612.000,8444.000,8402,8444.0,5,8444.0,5,42,8402,8402.000,5
3,1103500518,4922.000,4826.000,4802.00,4826.0,5,4826.0,5,24,4802,4802.000,5
4,1141316451,5537.000,5429.000,5402,5429.0,5,5429.0,5,27,5402,5402.000,5
5,1127228530,6357.000,6233.000,6202,6233.0,5,6233.0,5,31,6202,6202.000,5
6,1000794960,7382.000,7238.000,2.00,7238.0,5,7238.0,5,36,7202,2.000,1
7,1019606644,389866.330,3739.230,7402.00,7439.0,1,7439.0,1,37,7402,7402.000,5
8,1104224296,6356.600,6233.000,62,6233.0,5,6233.0,5,31,6202,62.000,1
9,1094049572,8407.000,8243.000,8202,8243.0,5,8243.0,5,41,8202,8202.000,5
10,1025062924,6.357,6.233,6.202,6233.0,1,6233.0,1,31,6202,6.202,1
11,1028485597,10047.000,9851.000,2,9851.0,5,9851.0,5,49,9802,2.000,1
12,1013037578,7177.000,7037.000,7002,7037.0,5,7037.0,5,35,7002,7002.000,5
13,1113364165,6357.000,6233.000,6202.00,6233.0,5,6233.0,5,31,6202,6202.000,5
14,1140914656,7587.000,7439.000,76,7439.0,5,7439.0,5,37,7402,76.000,1
15,1011095164,5740.000,5620.000,5600,5630.0,1,5630.0,1,28,5602,5600.000,1
16,1193231792,175.000,152.000,1,7640.0,1,7640.0,1,38,7602,1.000,1
17,1077228324,7382.000,7238.000,"366,82",7238.0,5,7238.0,5,36,7202,366.820,1

In [27]:
# Eliminar las 2 últimas columnas
df = df.iloc[:, :-2]

# Guardar el CSV actualizado (sobrescribiendo el original)
df.to_csv("Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv", index=False, encoding="utf-8-sig")

In [28]:
df_original["Punto 2"] = df["Punto 2"]
df_original["Calificacion 2"] = df["Calificacion 2"]

In [29]:
df_original.to_csv("Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv", index=False)

In [32]:
df_original["Punto 3"] = df["Punto 3"]

In [33]:
df_original.to_csv("Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv", index=False)

In [31]:
print(df.columns.tolist())

['Número de documento', 'Sea la función de costo C(x) = n*x^2 + 2*x + 23.\xa0\nHallar el costo promedio de producir\xa0 de 100 a 105 unidades (Poner dos decimales)', 'Sea la función de costo C(x) = n*x^2 + 2*x + 23.\xa0\nHallar el costo promedio de producir\xa0 de 100 a 101 unidades (Poner dos decimales)\n', 'Sea la función de costo C(x) = n*x^2 + 2*x + 23.\xa0\nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales)', 'Punto 1', 'Calificacion 1', 'Punto 2', 'Calificacion 2', 'n', 'Punto 3']