In [1]:
import pandas as pd

df = pd.read_csv("Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv")

# Calcular Nota Final (promedio de los 3 puntos)
df["Calificacion Final"] = ((df["Calificacion 1"] + df["Calificacion 2"] + df["Calificacion 3"]) / 3).round(2)

# Guardar
df.to_csv("Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv", index=False)


print(df[["Número de documento", "Calificacion 1", "Calificacion 2", "Calificacion 3", "Calificacion Final"]].head())

   Número de documento  Calificacion 1  Calificacion 2  Calificacion 3  \
0           1021674384               5               5               5
1           1028481694               5               5               5
2           1012976628               5               5               5
3           1103500518               5               5               5
4           1141316451               5               5               5

   Calificacion Final
0                 5.0
1                 5.0
2                 5.0
3                 5.0
4                 5.0

In [2]:
df

NameError: name 'df' is not defined

In [2]:
import pandas as pd

# 1. Cargar el CSV
df = pd.read_csv(r"Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv")

# 2. Agregar la nueva columna al final
df["Calificacion Final"] = df["Calificacion Final"]

# 3. Guardar los cambios
df.to_csv(r"Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv", index=False)

In [5]:
df

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),Punto 1,CP1,Punto 2,CP2,Punto 3,CP3,Calificacion Final
0,1021674384,7382.000,7238.000,7202.00,7382.0,5,7238.0,5,7202,5,5.00
1,1028481694,8817.000,8645.000,8602,8817.0,5,8645.0,5,8602,5,5.00
2,1012976628,8612.000,8444.000,8402,8612.0,5,8444.0,5,8402,5,5.00
3,1103500518,4922.000,4826.000,4802.00,4922.0,5,4826.0,5,4802,5,5.00
4,1141316451,5537.000,5429.000,5402,5537.0,5,5429.0,5,5402,5,5.00
5,1127228530,6357.000,6233.000,6202,6357.0,5,6233.0,5,6202,5,5.00
6,1000794960,7382.000,7238.000,2.00,7382.0,5,7238.0,5,7202,1,3.67
7,1019606644,389866.330,3739.230,7402.00,7587.0,1,7439.0,1,7402,5,2.33
8,1104224296,6356.600,6233.000,62,6357.0,1,6233.0,5,6202,1,2.33
9,1094049572,8407.000,8243.000,8202,8407.0,5,8243.0,5,8202,5,5.00
10,1025062924,6.357,6.233,6.202,6357.0,1,6233.0,1,6202,1,1.00
11,1028485597,10047.000,9851.000,2,10047.0,5,9851.0,5,9802,1,3.67
12,1013037578,7177.000,7037.000,7002,7177.0,5,7037.0,5,7002,5,5.00
13,1113364165,6357.000,6233.000,6202.00,6357.0,5,6233.0,5,6202,5,5.00
14,1140914656,7587.000,7439.000,76,7587.0,5,7439.0,5,7402,1,3.67
15,1011095164,5740.000,5620.000,5600,5742.0,1,5630.0,1,5602,1,1.00
16,1193231792,175.000,152.000,1,7792.0,1,7640.0,1,7602,1,1.00
17,1077228324,7382.000,7238.000,"366,82",7382.0,5,7238.0,5,7202,1,3.67

In [2]:
import pandas as pd

def percentiles(nombre_archivo, nombre_columna):
    try:
        
        datos = pd.read_csv(nombre_archivo)
        
        
        if nombre_columna not in datos.columns:
            return "No existe la comuna"
        
        
        p25 = datos[nombre_columna].quantile(0.25)
        p50 = datos[nombre_columna].quantile(0.50)
        p75 = datos[nombre_columna].quantile(0.75)
        
        # Retornar en el mismo formato que trabajaron
        return {
            'percentil_25': p25,
            'percentil_50': p50,
            'percentil_75': p75
        }
        
    except:
        return "No existe la comuna"

In [9]:
df

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),Punto 1,CP1,Punto 2,CP2,Punto 3,CP3,Calificacion Final
0,1021674384,7382.000,7238.000,7202.00,7382.0,5,7238.0,5,7202,5,5.00
1,1028481694,8817.000,8645.000,8602,8817.0,5,8645.0,5,8602,5,5.00
2,1012976628,8612.000,8444.000,8402,8612.0,5,8444.0,5,8402,5,5.00
3,1103500518,4922.000,4826.000,4802.00,4922.0,5,4826.0,5,4802,5,5.00
4,1141316451,5537.000,5429.000,5402,5537.0,5,5429.0,5,5402,5,5.00
5,1127228530,6357.000,6233.000,6202,6357.0,5,6233.0,5,6202,5,5.00
6,1000794960,7382.000,7238.000,2.00,7382.0,5,7238.0,5,7202,1,3.67
7,1019606644,389866.330,3739.230,7402.00,7587.0,1,7439.0,1,7402,5,2.33
8,1104224296,6356.600,6233.000,62,6357.0,1,6233.0,5,6202,1,2.33
9,1094049572,8407.000,8243.000,8202,8407.0,5,8243.0,5,8202,5,5.00
10,1025062924,6.357,6.233,6.202,6357.0,1,6233.0,1,6202,1,1.00
11,1028485597,10047.000,9851.000,2,10047.0,5,9851.0,5,9802,1,3.67
12,1013037578,7177.000,7037.000,7002,7177.0,5,7037.0,5,7002,5,5.00
13,1113364165,6357.000,6233.000,6202.00,6357.0,5,6233.0,5,6202,5,5.00
14,1140914656,7587.000,7439.000,76,7587.0,5,7439.0,5,7402,1,3.67
15,1011095164,5740.000,5620.000,5600,5742.0,1,5630.0,1,5602,1,1.00
16,1193231792,175.000,152.000,1,7792.0,1,7640.0,1,7602,1,1.00
17,1077228324,7382.000,7238.000,"366,82",7382.0,5,7238.0,5,7202,1,3.67