In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv")
df.head()

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),Punto 1,Calificacion 1,Punto 2,Calificacion 2,Punto 3,Calificacion 3,Calificacion Final
0,1021674384,7382.0,7238.0,7202.00,7382.0,5,7238.0,5,7202,5,5.0
1,1028481694,8817.0,8645.0,8602,8817.0,5,8645.0,5,8602,5,5.0
2,1012976628,8612.0,8444.0,8402,8612.0,5,8444.0,5,8402,5,5.0
3,1103500518,4922.0,4826.0,4802.00,4922.0,5,4826.0,5,4802,5,5.0
4,1141316451,5537.0,5429.0,5402,5537.0,5,5429.0,5,5402,5,5.0

In [4]:
def sumar_digitos(x):
    x_str = str(x)
    sum=0
    for i in x_str:
      sum+= int(i)
    return sum

def crear_funcion(n):
    def f(x):
        return n * (x**2) + 2*x + 23
    return f

def evaluar_funcion1(n):
  f=crear_funcion(n)
  return (f(105)-f(100))/5

df["n"]= df["Número de documento"].apply(sumar_digitos)
df["Punto 1"] = df["n"].apply(evaluar_funcion1).round(2)

def calificar1(x):
  return 5 if x[1] == x["Punto 1"] else 1

df["Calificacion 1"] = df.apply(calificar1 , axis=1)

/tmp/ipykernel_2296/1107844144.py:21: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return 5 if x[1] == x["Punto 1"] else 1

In [5]:
df.head(10)

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),Punto 1,Calificacion 1,Punto 2,Calificacion 2,Punto 3,Calificacion 3,Calificacion Final,n
0,1021674384,7382.00,7238.00,7202.00,7382.0,5,7238.0,5,7202,5,5.00,36
1,1028481694,8817.00,8645.00,8602,8817.0,5,8645.0,5,8602,5,5.00,43
2,1012976628,8612.00,8444.00,8402,8612.0,5,8444.0,5,8402,5,5.00,42
3,1103500518,4922.00,4826.00,4802.00,4922.0,5,4826.0,5,4802,5,5.00,24
4,1141316451,5537.00,5429.00,5402,5537.0,5,5429.0,5,5402,5,5.00,27
5,1127228530,6357.00,6233.00,6202,6357.0,5,6233.0,5,6202,5,5.00,31
6,1000794960,7382.00,7238.00,2.00,7382.0,5,7238.0,5,7202,1,3.67,36
7,1019606644,389866.33,3739.23,7402.00,7587.0,1,7439.0,1,7402,5,2.33,37
8,1104224296,6356.60,6233.00,62,6357.0,1,6233.0,5,6202,1,2.33,31
9,1094049572,8407.00,8243.00,8202,8407.0,5,8243.0,5,8202,5,5.00,41

In [6]:
df_original = pd.read_csv("Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv")

In [7]:
df_original["Punto 1"] = df["Punto 1"]
df_original["Calificacion 1"] = df["Calificacion 1"]

In [8]:
df_original.to_csv("Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv", index=False)

In [9]:
df_original = pd.read_csv("Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv")

# Actualizar solo la columna que cambió
df_original["Calificacion 1"] = df["Calificacion 1"]

# Guardar nuevamente (sobrescribe el CSV original)
df_original.to_csv("Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv", index=False)

In [10]:
import pandas as pd


df = pd.read_csv("Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv")

# 2. Reemplazar la columna número 5 (contando desde 1 → índice 4)
df.iloc[:, 4] = df["Punto 1"]

# 3. Guardar el CSV con los cambios
df.to_csv(r"Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv", index=False)

In [12]:
df = pd.read_csv("Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv")

# Cambiar los nombres de las columnas
df = df.rename(columns={
    "Calificacion 1": "CP1"
})

# Guardar el archivo modificado
df.to_csv("Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv", index=False)